---
- name: Preflight checks
  ansible.builtin.import_tasks: preflight.yml

- name: Create user
  ansible.builtin.user:
    name: "{{ etherpad_user }}"
    home: "{{ etherpad_home }}"
    shell: "/bin/bash"
    state: present

- name: Create ssh directory
  ansible.builtin.file:
    owner: "{{ etherpad_user }}"
    group: "{{ etherpad_user }}"
    mode: "0700"
    path: "{{ etherpad_repository_key_file | dirname }}"
    state: directory
  when: etherpad_repository_key_file | length > 0

- name: Create ssh key file
  ansible.builtin.copy:
    src: "{{ etherpad_repository_key_file_src }}"
    dest: "{{ etherpad_repository_key_file }}"
    owner: "{{ etherpad_user }}"
    group: "{{ etherpad_user }}"
    mode: "0600"
  when: etherpad_repository_key_file_src | length > 0

- name: Install required packages
  ansible.builtin.apt:
    pkg: "{{ etherpad_required_packages }}"
    state: present

- name: Clone etherpad repository
  ansible.builtin.git:
    repo: "{{ etherpad_repository }}"
    dest: "{{ etherpad_path }}"
    version: "{{ etherpad_repository_version }}"
    key_file: "{{ etherpad_repository_key_file }}"
    depth: 1
  become: true
  become_user: "{{ etherpad_user }}"
  register: etherpad_repository
  notify: Restart etherpad-lite

- name: Copy configuration file
  ansible.builtin.template:
    src: settings.json.j2
    dest: "{{ etherpad_path }}/settings.json"
    owner: "{{ etherpad_user }}"
    group: "{{ etherpad_group }}"
    mode: "0640"
  become: true
  become_user: "{{ etherpad_user }}"
  notify: Restart etherpad-lite
  no_log: true

- name: Import mysql tasks
  ansible.builtin.import_tasks: mysql.yml
  when: etherpad_db_type == "mysql"

- name: Copy systemd service file
  ansible.builtin.template:
    src: etc/systemd/system/etherpad-lite.service.j2
    dest: /etc/systemd/system/etherpad-lite.service
    owner: root
    group: root
    mode: "0644"
  notify: Reload systemd

- name: Set api key
  ansible.builtin.template:
    src: APIKEY.txt.j2
    dest: "{{ etherpad_path }}/APIKEY.txt"
    owner: "{{ etherpad_user }}"
    group: "{{ etherpad_group }}"
    mode: "0640"
  become: true
  become_user: "{{ etherpad_user }}"
  notify: Restart etherpad-lite
  no_log: true

# Installation of etherpad plugins needs to be done with --no-save and --legacy-peer-deps.
# Furthermore this will corrupt the node_modules directory, so we need to reinstall the dependencies.
- name: Install etherpad plugins # noqa no-changed-when
  ansible.builtin.shell: |
    npm install --no-save --legacy-peer-deps {{ item.name }}@{{ item.version | default('latest') }} {{ item.registry | default('') }}
  args:
    chdir: "{{ etherpad_path }}"
    executable: /bin/bash
  become: true
  become_user: "{{ etherpad_user }}"
  loop: "{{ etherpad_plugins }}"
  changed_when: false
  when: etherpad_plugins | length > 0

- name: Install dependencies
  ansible.builtin.shell: |
    bin/installDeps.sh
  args:
    chdir: "{{ etherpad_path }}"
    executable: /bin/bash
  environment:
    ETHERPAD_PRODUCTION: "true"
  changed_when: false
  become: true
  become_user: "{{ etherpad_user }}"

- name: Copy custom logo file if configured
  ansible.builtin.copy:
    src: "{{ etherpad_custom_logo_src }}"
    dest: "{{ etherpad_path }}/src/static/"
    owner: "{{ etherpad_user }}"
    group: "{{ etherpad_group }}"
    mode: "0644"
  when: etherpad_custom_logo_src is defined

- name: Import abiword tasks
  ansible.builtin.import_tasks: abiword.yml
  when: etherpad_abiword_enabled

- name: Activate and start etherpad-lite
  ansible.builtin.service:
    name: etherpad-lite
    state: started
    enabled: yes
