---
- name: Ensure python mysqldb is installed
  apt:
    pkg: "{{ etherpad_python_mysql_package }}"
    state: present

- name: Ensure mysql database is present
  mysql_db:
    name: "{{ etherpad_mysql_database_name }}"
    collation: "{{ etherpad_mysql_database_collation }}"
    state: present
    login_unix_socket: /run/mysqld/mysqld.sock
  register: database

- name: Ensure mysql schema is present
  template:
    src: schema.sql.j2
    dest: /tmp/etherpad_schema.sql
    mode: 0755
  when: database is changed

- name: Ensure mysql database is present
  mysql_db:
    name: "{{ etherpad_mysql_database_name }}"
    collation: "{{ etherpad_mysql_database_collation }}"
    state: import
    target: /tmp/etherpad_schema.sql
    login_unix_socket: /run/mysqld/mysqld.sock
  when: database is changed

- name: Ensure database schema is absent after import
  file:
    path: /tmp/etherpad_schema.sql
    state: absent
  when: database is changed

- name: Fail if mysql user has no password
  fail:
    msg: "You need to set a password for mysql user!"
  when: etherpad_mysql_database_password is undefined or etherpad_mysql_database_password | length == 0

- name: Ensure mysql user is present
  mysql_user:
    name: "{{ etherpad_mysql_database_user }}"
    state: present
    password: "{{ etherpad_mysql_database_password }}"
    priv: "{{ etherpad_mysql_database_name }}.*:ALL"
    login_unix_socket: /run/mysqld/mysqld.sock

- name: Register systemd version number
  shell: |
    set -o pipefail
    systemd --version | head -1 | cut -d' ' -f2
  args:
    executable: /bin/bash
  check_mode: False
  changed_when: False
  register: systemd_version
  when:
    - etherpad_mysql_systemd_dropin_enabled

- name: Create directory for etherpads systemd drop-in
  file:
    path: /etc/systemd/system/etherpad-lite.service.d/
    state: directory
    owner: root
    group: root
    mode: 0750
  when:
    - etherpad_mysql_systemd_dropin_enabled

- name: Create directory for etherpads systemd drop-in
  template:
    src: etc/systemd/system/etherpad-lite.service.d/10-start-limit.conf.j2
    dest: /etc/systemd/system/etherpad-lite.service.d/10-start-limit.conf
    owner: root
    group: root
    mode: 0644
  notify: Reload systemd
  when:
    - etherpad_mysql_systemd_dropin_enabled
