[Unit]
Description=Etherpad-lite, the collaborative editor.
After=syslog.target network.target

[Service]
Type=simple
User={{ etherpad_user }}
Group={{ etherpad_group }}
WorkingDirectory={{ etherpad_path }}
ExecStart=/usr/bin/nodejs {{ etherpad_path }}/node_modules/ep_etherpad-lite/node/server.js
Restart=always

[Install]
WantedBy=multi-user.target
