#jinja2: lstrip_blocks: True
{
  "title": "{{ etherpad_title }}",
  "favicon": "{{ etherpad_favicon }}",
  "showRecentPads": {{ etherpad_show_recent_pads }},
  "publicURL": {{ etherpad_public_url | to_json }},
  "socialMeta": {
    "description": {{ etherpad_social_meta_description | to_json }}
  },
  "ip": "{{ etherpad_ip }}",
  "port" : {{ etherpad_port }},
  "showSettingsInAdminPage": {{ etherpad_show_settings_in_admin_page }},
  "enableMetrics": {{ etherpad_enable_metrics }},
  "updates": {
    "tier": "{{ etherpad_updates_tier }}",
    "source": "{{ etherpad_updates_source }}",
    "channel": "{{ etherpad_updates_channel }}",
    "installMethod": "{{ etherpad_updates_install_method }}",
    "checkIntervalHours": {{ etherpad_updates_check_interval_hours }}
  },
  "adminOpenAPI": {
    "enabled": {{ etherpad_admin_openapi_enabled }}
  },
  "adminEmail": {{ etherpad_admin_email | to_json }},
  "mail": {
    "host": {{ etherpad_mail_host | to_json }},
    "port": {{ etherpad_mail_port }},
    "secure": {{ etherpad_mail_secure }},
    "from": {{ etherpad_mail_from | to_json }},
    "auth": {{ etherpad_mail_auth | to_json }}
  },
  "cleanup": {{ etherpad_cleanup | to_nice_json }},
  "gdprAuthorErasure": {
    "enabled": {{ etherpad_gdpr_author_erasure_enabled }}
  },
  "sessionKey": "{{ etherpad_session_key }}",
{% if etherpad_ssl_enabled %}
  "ssl" : {
            "key"  : "{{ etherpad_ssl_key }}",
            "cert" : "{{ etherpad_ssl_cert }}",
            "ca": ["{{ etherpad_ssl_ca_intermediate_cert1 }}", "{{ etherpad_ssl_ca_intermediate_cert2 }}"]
          },
{% endif %}
  "skinName": "{{ etherpad_skin_name }}",
  "skinVariants": "{{ etherpad_skin_variants }}",
  "dbType": "{{ etherpad_db_type }}",
{% if etherpad_db_type == "dirty" %}
  "dbSettings" : {
    "filename" : "{{ etherpad_dirty_filename }}"
  },
{% endif %}
{% if etherpad_db_type == "mysql" %}
  "dbSettings" : {
    "user"    : "{{ etherpad_mysql_database_user }}",
    "host"    : "{{ etherpad_mysql_database_host }}",
    "port"    : {{ etherpad_mysql_database_port }},
    "password": "{{ etherpad_mysql_database_password }}",
    "database": "{{ etherpad_mysql_database_name }}",
    "charset" : "{{ etherpad_mysql_database_charset }}"
  },
{% endif %}
{% if etherpad_db_type == "postgres" %}
  "dbSettings" : {
    "user"    : "{{ etherpad_postgres_database_user }}",
    "host"    : "{{ etherpad_postgres_database_host }}",
    "port"    : {{ etherpad_postgres_database_port }},
    "password": "{{ etherpad_postgres_database_password }}",
    "database": "{{ etherpad_postgres_database_name }}",
    {% if etherpad_postgres_database_ssl_policy == "enforce" %}
    "ssl": true
    {% elif etherpad_postgres_database_ssl_policy == "permissive" %}
    "ssl": { "rejectUnauthorized": false }
    {% else %}
    "ssl": false
    {% endif %}
  },
{% endif %}
{% if etherpad_db_type == "redis" %}
  "dbSettings" : {
    "host"    : "{{ etherpad_redis_host }}",
    "port"    : "{{ etherpad_redis_port }}",
    "database": {{ etherpad_redis_database }},
  },
{% endif %}
  "defaultPadText": "{{ etherpad_default_text }}",
  "padOptions": {
    "noColors": {{ etherpad_pad_options_no_colors }},
    "showControls": {{ etherpad_pad_options_show_controls }},
    "showChat": {{ etherpad_pad_options_show_chat }},
    "showLineNumbers": {{ etherpad_pad_options_show_line_numbers }},
    "useMonospaceFont": {{ etherpad_pad_options_use_monospace_font }},
    "userName": {{ etherpad_pad_options_user_name }},
    "userColor": {{ etherpad_pad_options_user_color }},
    "rtl": {{ etherpad_pad_options_rtl }},
    "alwaysShowChat": {{ etherpad_pad_options_always_show_chat }},
    "chatAndUsers": {{ etherpad_pad_options_chat_and_users }},
    "lang": "{{ etherpad_pad_options_lang }}",
    "fadeInactiveAuthorColors": {{ etherpad_pad_options_fade_inactive_author_colors }},
    "enforceReadableAuthorColors": {{ etherpad_pad_options_enforce_readable_author_colors }}
  },
  "padShortcutEnabled" : {
    "altF9":     {{ etherpad_pad_shortcut_alt_f9 }},
    "altC":      {{ etherpad_pad_shortcut_alt_c }},
    "cmdShift2": {{ etherpad_pad_shortcut_cmd_shft_2 }},
    "delete":    {{ etherpad_pad_shortcut_delete }},
    "return":    {{ etherpad_pad_shortcut_return }},
    "esc":       {{ etherpad_pad_shortcut_esc }},
    "cmdS":      {{ etherpad_pad_shortcut_cmd_s }},
    "tab":       {{ etherpad_pad_shortcut_tab }},
    "cmdZ":      {{ etherpad_pad_shortcut_cmd_z }},
    "cmdY":      {{ etherpad_pad_shortcut_cmd_y }},
    "cmdI":      {{ etherpad_pad_shortcut_cmd_i }},
    "cmdB":      {{ etherpad_pad_shortcut_cmd_b }},
    "cmdU":      {{ etherpad_pad_shortcut_cmd_u }},
    "cmd5":      {{ etherpad_pad_shortcut_cmd_5 }},
    "cmdShiftL": {{ etherpad_pad_shortcut_cmd_shift_l }},
    "cmdShiftN": {{ etherpad_pad_shortcut_cmd_shift_n }},
    "cmdShift1": {{ etherpad_pad_shortcut_cmd_shift_1 }},
    "cmdShiftC": {{ etherpad_pad_shortcut_cmd_shift_c }},
    "cmdH":      {{ etherpad_pad_shortcut_cmd_h }},
    "ctrlHome":  {{ etherpad_pad_shortcut_ctrl_home }},
    "pageUp":    {{ etherpad_pad_shortcut_page_up }},
    "pageDown":  {{ etherpad_pad_shortcut_page_down }}
  },
  "updateServer": "{{ etherpad_update_server }}",
  "privacy": {
    "updateCheck": {{ etherpad_privacy_update_check }},
    "pluginCatalog": {{ etherpad_privacy_plugin_catalog }}
  },
  "privacyBanner": {
    "enabled": {{ etherpad_privacy_banner_enabled }},
    "title": {{ etherpad_privacy_banner_title | to_json }},
    "body": {{ etherpad_privacy_banner_body | to_json }},
    "learnMoreUrl": {{ etherpad_privacy_banner_learn_more_url | to_json }},
    "dismissal": "{{ etherpad_privacy_banner_dismissal }}"
  },
  "suppressErrorsInPadText": {{ etherpad_suppress_errors_in_pad_text }},
  "requireSession": {{ etherpad_require_session }},
  "editOnly": {{ etherpad_edit_only }},
  "minify": {{ etherpad_minify }},
  "maxAge": {{ etherpad_max_age }},
  "soffice": {{ etherpad_soffice | to_json }},
  "docxExport": {{ etherpad_docx_export }},
  "allowUnknownFileEnds": {{ etherpad_allow_unknown_file_ends }},
  "requireAuthentication": {{ etherpad_require_authentication }},
  "requireAuthorization": {{ etherpad_require_authorization }},
  "trustProxy": {{ etherpad_trust_proxy }},
  "cookie": {
{% if etherpad_cookie_prefix | length > 0 %}
    "prefix": "{{ etherpad_cookie_prefix }}",
{% endif %}
    "keyRotationInterval": {{ etherpad_cookie_key_rotation_interval }},
    "sameSite": "{{ etherpad_cookie_same_site }}",
    "sessionLifetime": {{ etherpad_cookie_session_lifetime }},
    "sessionRefreshInterval": {{ etherpad_cookie_session_refresh_interval }},
    "sessionCleanup": {{ etherpad_cookie_session_cleanup }}
  },
  "ipLogging": "{{ etherpad_ip_logging }}",
  "disableIPlogging": {{ etherpad_disable_ip_logging }},
  "allowPadDeletionByAllUsers": {{ etherpad_allow_pad_deletion_by_all_users }},
  "automaticReconnectionTimeout": {{ etherpad_automatic_reconnection_timeout }},
  "scrollWhenFocusLineIsOutOfViewport": {
    "percentage": {
      "editionAboveViewport": 0,
      "editionBelowViewport": 0
    },
    "duration": 0,
    "scrollWhenCaretIsInTheLastLineOfViewport": false,
    "percentageToScrollWhenUserPressesArrowUp": 0
  },
  "commitRateLimiting": {
    "duration": {{ etherpad_commit_rate_limiting_duration }},
    "points": {{ etherpad_commit_rate_limiting_points }}
  },
{% if 'ep_table_of_contents' in etherpad_plugins %}
  "ep_toc": {
    "disable_by_default": {{ etherpad_toc_disable }}
  },
{% endif %}
{% if 'ep_auth_author' in etherpad_plugins and etherpad_auth_author_prefix is defined %}
  "ep_auth_author": {
    "prefix": "{{ etherpad_auth_author_prefix }}"
  },
{% endif %}
{% if 'ep_delete_after_delay' in etherpad_plugins %}
  "ep_delete_after_delay": {
    "delay": {{ etherpad_delete_after_delay }},
    "loop": {{ etherpad_delete_after_delay_loop|string|lower }},
    "loopDelay": {{ etherpad_delete_after_delay_loopdelay }},
    "deleteAtStart": {{ etherpad_delete_after_delay_deleteatstart|string|lower }},
    "text": "{{ etherpad_delete_after_delay_text }}"
  },
{% endif %}
{% if 'ep_headerauth' in etherpad_plugins %}
  "ep_headerauth": {
    "username_header": "{{ etherpad_headerauth_username_header }}",
    "displayname_header": "{{ etherpad_headerauth_displayname_header }}"
  },
{% endif %}
  "users": {
{% for user in etherpad_users %}
    "{% if user.auth_author is defined and user.auth_author %}{{ etherpad_auth_author_prefix }}{% endif %}{{ user.name }}": {
      "password": "{{ user.password }}",
{% if user.auth_author is defined and user.auth_author %}
      "author_name": "{{ user.name }}",
{% endif %}
{% if user.readOnly is defined %}
      "readOnly": {{ user.readOnly | string | lower }},
{% endif %}
{% if user.canCreate is defined %}
      "canCreate": {{ user.canCreate | string | lower }},
{% endif %}
      "is_admin": {{ user.is_admin }}
    }{% if not loop.last %},{% endif %}

{% endfor %}
  },
  "socketTransportProtocols": {{ etherpad_socket_transport_protocols|to_json }},
  "loadTest": {{ etherpad_load_test }},
  "indentationOnNewLine": {{ etherpad_indentation_on_new_line }},
  "toolbar": {{ etherpad_toolbar|to_json }},
  "exposeVersion": {{ etherpad_expose_version }},
  "loglevel": "{{ etherpad_log_level }}",
  "logLayoutType": "{{ etherpad_log_layout_type }}",
  "socketIo": {
    "maxHttpBufferSize": {{ etherpad_socket_max_http_buffer_size }}
  },
  "dumpOnUncleanExit": {{ etherpad_dump_on_unclean_exit }},
  "importExportRateLimiting": {
    "windowMs": {{ etherpad_import_export_rate_limiting_window_ms }},
    "max": {{ etherpad_import_export_rate_limiting_max }}
  },
  "importMaxFileSize": {{ etherpad_import_max_file_size }},
  "customLocaleStrings": {{ etherpad_custom_locale_strings|to_json }},
  "enableAdminUITests": {{ etherpad_enable_admin_ui_tests }},
  "enableDarkMode": {{ etherpad_enable_dark_mode }},
  "enablePadWideSettings": {{ etherpad_enable_pad_wide_settings }},
  "enablePluginPadOptions": {{ etherpad_enable_plugin_pad_options }},
  "authenticationMethod": {{ etherpad_authentication_method|to_json }},
  "lowerCasePadIds": {{ etherpad_lower_case_pad_ids }},
  "sso": {
    "issuer": "{{ etherpad_sso_issuer }}",
    "clients": {{ etherpad_sso_clients|to_json }},
    "ttl": {
      "AccessToken": {{ etherpad_sso_ttl_access_token }},
      "AuthorizationCode": {{ etherpad_sso_ttl_authorization_code }},
      "ClientCredentials": {{ etherpad_sso_ttl_client_credentials }},
      "IdToken": {{ etherpad_sso_ttl_id_token }},
      "RefreshToken": {{ etherpad_sso_ttl_refresh_token }}
    }
  }
}
