#jinja2: lstrip_blocks: True
{
  "title": "{{ etherpad_title }}",
  "favicon": "{{ etherpad_favicon }}",
  "ip": "{{ etherpad_ip }}",
  "port" : {{ etherpad_port }},
  "showSettingsInAdminPage": {{ etherpad_show_settings_in_admin_page }},
  "sessionKey": "{{ etherpad_session_key }}",
{% if etherpad_ssl_enabled %}
  "ssl" : {
            "key"  : "{{ etherpad_ssl_key }}",
            "cert" : "{{ etherpad_ssl_cert }}",
            "ca": ["{{ etherpad_ssl_ca_intermediate_cert1 }}", "{{ etherpad_ssl_ca_intermediate_cert2 }}"]
          },
{% endif %}
  "skinName": "{{ etherpad_skin_name }}",
  "dbType": "{{ etherpad_db_type }}",
{% if etherpad_db_type == "dirty" %}
  "dbSettings" : {
    "filename" : "{{ etherpad_dirty_filename }}"
  },
{% endif %}
{% if etherpad_db_type == "mysql" %}
  "dbSettings" : {
    "user"    : "{{ etherpad_mysql_database_user }}",
    "host"    : "{{ etherpad_mysql_database_host }}",
    "port"    : {{ etherpad_mysql_database_port }},
    "password": "{{ etherpad_mysql_database_password }}",
    "database": "{{ etherpad_mysql_database_name }}",
    "charset" : "{{ etherpad_mysql_database_charset }}"
  },
{% endif %}
{% if etherpad_db_type == "redis" %}
  "dbSettings" : {
    "host"    : "{{ etherpad_redis_host }}",
    "port"    : "{{ etherpad_redis_port }}",
    "database": {{ etherpad_redis_database }},
  },
{% endif %}
  "defaultPadText": {{ etherpad_default_text }},
  "padOptions": {
    "noColors": {{ etherpad_pad_options_no_colors }},
    "showControls": {{ etherpad_pad_options_show_controls }},
    "showChat": {{ etherpad_pad_options_show_chat }},
    "showLineNumbers": {{ etherpad_pad_options_show_line_numbers }},
    "useMonospaceFont": {{ etherpad_pad_options_use_monospace_font }},
    "userName": {{ etherpad_pad_options_user_name }},
    "userColor": {{ etherpad_pad_options_user_color }},
    "rtl": {{ etherpad_pad_options_rtl }},
    "alwaysShowChat": {{ etherpad_pad_options_always_show_chat }},
    "chatAndUsers": {{ etherpad_pad_options_chat_and_users }},
    "lang": "{{ etherpad_pad_options_lang }}"
  },
  "padShortcutEnabled" : {
    "altF9":     {{ etherpad_pad_shortcut_alt_f9 }},
    "altC":      {{ etherpad_pad_shortcut_alt_c }},
    "cmdShift2": {{ etherpad_pad_shortcut_cmd_shft_2 }},
    "delete":    {{ etherpad_pad_shortcut_delete }},
    "return":    {{ etherpad_pad_shortcut_return }},
    "esc":       {{ etherpad_pad_shortcut_esc }},
    "cmdS":      {{ etherpad_pad_shortcut_cmd_s }},
    "tab":       {{ etherpad_pad_shortcut_tab }},
    "cmdZ":      {{ etherpad_pad_shortcut_cmd_z }},
    "cmdY":      {{ etherpad_pad_shortcut_cmd_y }},
    "cmdI":      {{ etherpad_pad_shortcut_cmd_i }},
    "cmdB":      {{ etherpad_pad_shortcut_cmd_b }},
    "cmdU":      {{ etherpad_pad_shortcut_cmd_u }},
    "cmd5":      {{ etherpad_pad_shortcut_cmd_5 }},
    "cmdShiftL": {{ etherpad_pad_shortcut_cmd_shift_l }},
    "cmdShiftN": {{ etherpad_pad_shortcut_cmd_shift_n }},
    "cmdShift1": {{ etherpad_pad_shortcut_cmd_shift_1 }},
    "cmdShiftC": {{ etherpad_pad_shortcut_cmd_shift_c }},
    "cmdH":      {{ etherpad_pad_shortcut_cmd_h }},
    "ctrlHome":  {{ etherpad_pad_shortcut_ctrl_home }},
    "pageUp":    {{ etherpad_pad_shortcut_page_up }},
    "pageDown":  {{ etherpad_pad_shortcut_page_down }}
  },
  "suppressErrorsInPadText": {{ etherpad_suppress_errors_in_pad_text }},
  "requireSession": {{ etherpad_require_session }},
  "editOnly": {{ etherpad_edit_only }},
  "sessionNoPassword": {{ etherpad_session_no_password }},
  "minify": {{ etherpad_minify }},
  "maxAge": {{ etherpad_max_age }},
  "abiword": {{ etherpad_abiword }},
  "soffice": {{ etherpad_soffice }},
  "tidyHtml": {{ etherpad_tidyhtml }},
  "allowUnknownFileEnds": {{ etherpad_allow_unknown_file_ends }},
  "requireAuthentication": {{ etherpad_require_authentication }},
  "requireAuthorization": {{ etherpad_require_authorization }},
  "trustProxy": {{ etherpad_trust_proxy }},
  "disableIPlogging": {{ etherpad_disable_ip_logging }},
  "automaticReconnectionTimeout": {{ etherpad_automatic_reconnection_timeout }},
  "scrollWhenFocusLineIsOutOfViewport": {
    "percentage": {
      "editionAboveViewport": 0,
      "editionBelowViewport": 0
    },
    "duration": 0,
    "scrollWhenCaretIsInTheLastLineOfViewport": false,
    "percentageToScrollWhenUserPressesArrowUp": 0
  },
{% if 'ep_table_of_contents' in etherpad_plugins %}
  "ep_toc": {
    "disable_by_default": {{ etherpad_toc_disable }}
  },
{% endif %}
{% if 'ep_auth_author' in etherpad_plugins and etherpad_auth_author_prefix is defined %}
  "ep_auth_author": {
    "prefix": "{{ etherpad_auth_author_prefix }}"
  },
{% endif %}
  "users": {
{% for user in etherpad_users %}
    "{% if user.auth_author is defined and user.auth_author %}{{ etherpad_auth_author_prefix }}{% endif %}{{ user.name }}": {
      "password": "{{ user.password }}",
{% if user.auth_author is defined and user.auth_author %}
      "author_name": "{{ user.name }}",
{% endif %}
      "is_admin": {{ user.is_admin }}
    }{% if not loop.last %},{% endif %}

{% endfor %}
  },
  "socketTransportProtocols": {{ etherpad_socket_transport_protocols|to_json }},
  "loadTest": {{ etherpad_load_test }},
  "indentationOnNewLine": {{ etherpad_indentation_on_new_line }},
  "toolbar": {{ etherpad_toolbar|to_json }},
  "exposeVersion": {{ etherpad_expose_version }},
  "loglevel": "{{ etherpad_log_level }}",
  "logconfig":
   { "appenders": [
{% for appender in etherpad_log_appenders %}
    {% if not loop.first %},{% endif %}
    {{ appender|to_json }}
{% endfor %}
      ]
   }
}
